<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <mvc:annotation-driven/>

    <context:component-scan base-package="org.pizza"/>
    <mvc:view-controller path="/" view-name="welcome"/>


    
    <bean id="resolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <bean id="jsonUtil" class="org.pizza.json.JsonUtil"/>
    <bean id="hibernateUtil" class="org.pizza.hibernate.HibernateUtil" init-method="init"/>
    <bean id="cntx" class="org.pizza.cntx.Cntx"/>
    <bean id="autoincrementer" class="org.pizza.hibernate.order.AutoIncrementer"/>
    <bean id="dao" class="org.pizza.dao.DAO" init-method="init"/>


</beans>