<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"

       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/mvc
         http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <mvc:annotation-driven/>

    <context:component-scan base-package="org.pizza"/>
    <mvc:view-controller path="/" view-name="welcome"/>


    
    <bean id="resolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <bean id="jsonUtil" class="org.pizza.service.utilities.JsonUtil"/>
    <bean id="cntx" class="org.pizza.service.utilities.Cntx"/>
    <bean id="autoincrementer" class="org.pizza.service.utilities.AutoIncrementer"/>

    <bean id="ingredientService" class="org.pizza.service.impl.IngredientServiceImpl" />
    <bean id="menuService" class="org.pizza.service.impl.MenuServiceImpl" init-method="init" depends-on="jsonUtil"/>
    <bean id="orderService" class="org.pizza.service.impl.OrderServiceImpl" />
    <bean id="pizzaService" class="org.pizza.service.impl.PizzaServiceImpl" />


</beans>