<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <mvc:annotation-driven/>

    <context:component-scan base-package="ru.mera.training"/>
    <mvc:view-controller path="/" view-name="welcome"/>
    <!--<mvc:view-controller path="/test/" view-name="test"/>-->

    <bean id="resolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <bean id="hibernateUtil" class="hibernate.HibernateUtil" init-method="init"/>
    <bean id="ingredient" class="ru.mera.training.ingredient.Ingredient"/>
    <bean id="menu" class="ru.mera.training.menu.Menu">
        <!--<property name="sessionFactory" value="#{hibernate.getSessionFactory()}"/>-->
    </bean>
    <bean id="order" scope="prototype" class="ru.mera.training.order.Order" init-method="init">
        <property name="autoIncrement" ref="autoincrementer"/>
    </bean>
    <!--<bean id="shaurma" class="ru.mera.training.shaurma.Shaurma"/>-->
    <bean id="autoincrementer" class="ru.mera.training.order.AutoIncrementer"/>
</beans>