# Add any directories, files, or patterns you don't want to be tracked by version control
*.sw?
.#*
*#
*~
.classpath
.project
.settings
bin
build
target
*.sublime-*
/scratch
.gradle
README.html

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr


target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
/target/
