<persistence-unit name="ru.easyjava.data.jpa.hibernate">
    <properties>
        <property name="hibernate.hbm2ddl.auto" value="update"/>
        <property name="hibernate.dialect" value="org.hibernate.dialect.H2Dialect"/>
        <property name="hibernate.connection.url" value="jdbc:h2:mem:test"/>
    </properties>
</persistence-unit>