<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="ru.mera.sergeynazin.model.Ingredient" />
        <mapping class="ru.mera.sergeynazin.model.Shaurma" />
        <mapping class="ru.mera.sergeynazin.model.MenuEntry" />
        <mapping class="ru.mera.sergeynazin.model.Order" />
    </session-factory>
</hibernate-configuration>